<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>PartidosModel</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#PartidosModel</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CandidatosModel</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#CandidatosModel</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CentroVotacionesModel</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#CentroVotacionesModel</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TipoUsuarioModel</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#TipoUsuarioModel</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UsuariosModel</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#UsuariosModel</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>JrvModel</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#JrvModel</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TipoEleccionModel</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#TipoEleccionModel</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EleccionesModel</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#EleccionesModel</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CiudadanosModel</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#CiudadanosModel</ejb-link>
    </ejb-local-ref>
</web-app>
